.git
.gitignore
.gitattributes
Dockerfile
docker-compose*.yml
.dockerignore
.env
.env.local
.env.*.local
node_modules
tests
phpunit.xml
.phpunit.cache
.vscode
.idea
*.swp
*.md
public/build
public/hot
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
