APP_NAME="MPGames"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://mpgames.io

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_MAINTENANCE_DRIVER=file
BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=mpgames
DB_USERNAME=mpgames
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_SECURE_COOKIE=true

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=log

VITE_APP_NAME="${APP_NAME}"

AUTH_PROVIDER_URL=https://auth.mpgames.io
AUTH_OAUTH_CLIENT_ID=
AUTH_OAUTH_CLIENT_SECRET=
AUTH_OAUTH_REDIRECT_URI=${APP_URL}/auth/callback
VITE_AUTH_PROVIDER_URL="${AUTH_PROVIDER_URL}"
VITE_AUTH_OAUTH_CLIENT_ID="${AUTH_OAUTH_CLIENT_ID}"
